/* overriding default github-markdown-css styles to match app theme */
.markdown-body {
    background-color: transparent !important;
    color: inherit !important;
}

.dark .markdown-body {
    background-color: transparent !important;
    color: inherit !important;
}

.prose pre{
    margin-bottom: 0 !important;
}

/* override default paddding of rehype-highlight */
pre .hljs{
    padding: 0.5rem 0 !important;
}