/* overriding default github-markdown-css styles to match app theme */
.markdown-body {
    background-color: transparent !important;
    color: inherit !important;
}

.dark .markdown-body {
    background-color: transparent !important;
    color: inherit !important;
}

